.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 16px;
  margin: 0 0 16px 0;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
}

.iconFacebook {
  background: #4267B2;
}

.iconFacebook:hover {
  background: #FFFFFF;
}

.facebook {
  fill: #FFFFFF;
}

.iconFacebook:hover .facebook {
  fill: #4267B2;
}

.iconLinkedin {
  background: #0A66C2;
}

.iconLinkedin:hover {
  background: #FFFFFF;
}

.linkedin {
  fill: #FFFFFF;
}

.iconLinkedin:hover .linkedin {
  fill: #0A66C2;
}

.iconTwitter {
  background: #1DA1F2;
}

.iconTwitter:hover {
  background: #FFFFFF;
}

.twitter {
  fill: #FFFFFF;
}

.iconTwitter:hover .twitter {
  fill: #1DA1F2;
}

.other {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #3C4048;
  margin: 0 0 16px 0;
}
